@use 'styles/_constants.scss' as *;

.Footer {
  background-color: $carbon;
  color: $smoke;
  font-size: 18px;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: center;
  position: sticky;
  bottom: 0;
  padding: 2px 0;

  a {
    color: $smoke;

    &:hover {
      color: $white;
    }
  }
}
